{
  "data": {
    "hero": {
      "name": "Spiderman",
      "movies": [
        {
          name: "Spiderman homecoming"
        },
        {
          name: "The amazing Spiderman"
        }
      ]
    }
  }
}