{
  "data": {
    "dcHeroes": [
      {
        "name": "Superman"
      },
      {
        "name": "Batman"
      }
    ],
    "marvelHeroes": [
      {
        "name": "Ironman"
      },
      {
        "name": "Captain America"
      }
    ]
  }
}